body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#opponent-choice, #your-choice  {
    width: 240px;
    height: 190px;
    margin-top: 5px;
}

#choices {
    margin: 10px auto 0;
    width: 240px;
    height: 80px;
}
#choices img {
    width: 80px;
    height: 80px;
}